.header__information {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
