.offer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 80px 40px;
}

@media screen and (max-width: 670px) {
  .offer__container {
    padding: 40px;
  }
}
