.footer__column {
  margin-bottom: 20px;
}

.footer__app-inf {
  flex-basis: 30%;
}

.footer__logo-slogan {
  flex: 1;
  text-align: center;
}

.footer__info-links {
  /* flex-basis: 30%; */
  text-align: center;
  margin-left: 10px;
}

.footer__social-media {
  /* flex-basis: 20%; */
  text-align: center;
  margin-left: 15px;
}

@media screen and (max-width: 670px) {
  .footer__social-media,
  .footer__info-links,
  .footer__column {
    flex-basis: 30%;
    margin: 0;
  }
}
