.testimonial__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 80px 50px;
}

@media screen and (max-width: 1024px) {
  .testimonial__container {
    padding: 60px 25px;
  }
}

@media screen and (max-width: 800px) {
  .testimonial__container {
    padding: 40px 15px;
  }
}
