.testimonial__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 80px;
}

@media screen and (max-width: 670px) {
  .testimonial__container {
    padding: 40px;
  }
}
